<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Action</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login-container">
        <h1>Welcome to My App</h1>
        <p>Please choose an option:</p>

        <button onclick="window.location.href='/signup'" class="button-64"><span>Sign Up</span></button>
        <br><br>
        <button onclick="window.location.href='/login'" class="button-64"><span>Login</span></button>
    </div>
    
</body>
</html>
